{% extends 'layout.html' %}

{% block title %}
Editar Poster
{% endblock %}

{% block conteudo %}
<div class="form-row">
    <!-- TMDB -->
    <div class="form-group col-md-2">
        <label for="tmdb">TMDB</label>
        <input style="text-align:center;" type="number" class="form-control form-control-sm" id="tmdb" name="tmdb"
            value="{{poster.tmdb}}" required>
    </div>

    <!-- IMDB -->    
    <div class="form-group col-md-2">
        <label for="imdb">IMDB</label>
        <input style="text-align:center;" type="text" class="form-control form-control-sm" id="imdb" name="imdb"
            value="{{poster.imdb}}" required>
    </div>

    <!-- Data Release -->    
    <div class="form-group col-md-2">
        <label for="data_release">Data Release</label>
        <input style="text-align:center;" type="date" class="form-control form-control-sm" id="data_release"
            name="data_release" value="{{poster.data_release}}">
    </div>

    <!-- Pasta -->    
    <div class="form-group col-md-1">
        <label for="pasta">Pasta</label>
        <input style="text-align:center;" type="number" class="form-control form-control-sm" id="pasta" name="pasta"
            pattern="[0-9]+$" value="{{poster.pasta}}" required>
    </div>

    <!-- Página -->    
    <div class="form-group col-md-1">
        <label for="pagina">Página</label>
        <input style="text-align:center;" type="number" class="form-control form-control-sm" id="pagina" name="pagina"
            pattern="[0-9]+$" value="{{poster.pagina}}" required>
    </div>
    
    <!-- Preto e Branco -->
    <div class="form-group col-md-3">
        <label for="cores">&nbsp;</label>
        <select class="form-control" id="cores" name="cores">
            <option value="preto_branco" {% if poster.cores=='preto_branco' %} selected {% endif %}>Preto & Branco
            </option>
            <option value="cores" {% if poster.cores=='cores' %} selected {% endif %}>Cores
            </option>
        </select>
    </div>
</div>

<div class="form-row">
    <!-- Titulo Original -->
    <div class="form-group col-md-6">
        <label for="titulo_original">Titulo Original</label>
        <input type="text" class="form-control form-control-sm" id="titulo_original" name="titulo_original"
            oninput="this.value = this.value.toUpperCase()" required value="{{poster.titulo_original}}">
    </div>
    <!-- Titulo Traduzido -->
    <div class="form-group col-md-6">
        <label for="titulo_traduzido">Titulo Traduzido</label>
        <input type="text" class="form-control form-control-sm" id="titulo_traduzido" name="titulo_traduzido"
            oninput="this.value = this.value.toUpperCase()" required value="{{poster.titulo_traduzido}}">
    </div>
</div>

<!-- Link Imagem - Invisivel -->
<div class="form-row" style="display: none;">
    <div class="form-outline col-md-8">
        <label for="link_imagem">Link Imagem</label>
        <input type="url" class="form-control form-control-sm" id="link_imagem" name="link_imagem"
            value="{{poster.link_imagem}}">
    </div>
</div>

<!-- Sinopse e imagem -->
<div class="form-row">
    <div class="form-outline col-md-8">
        <label class="form-label" for="sinopse">Sinopse</label>
        <textarea class="form-control" rows="7" id="sinopse" name="sinopse">{{poster.sinopse}}</textarea>
    </div>
    <div class="text-center col-md-4">
        <a href="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{poster.link_imagem}}" target="_blank">
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{poster.link_imagem}}"
                class="rounded img-200-200" id="poster">
        </a>
    </div>
</div>

<!-- Tabela de Posters Disponíveis -->
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <label>Posters Disponíveis</label>
        <div class="table_wrapper">
            <table id="tblPosters"></table>
        </div>
    </ol>
</nav>

<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <div>
            <button type="submit" class="btn btn-success">Atualizar</button>
            <button type="button" class="btn btn-secondary" onclick="history.back()">Voltar</button>
        </div>
    </ol>
</nav>
{% endblock %}

{% block script %}
<script>
    document.getElementById("imdb").focus();
    document.getElementById("imdb").select();

    window.onload = (event) => {
        populaPosters();
    };
</script>
{% endblock %}