<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Coleção de Cartazes de Filmes</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/api.js') }}" defer></script>
</head>

<body>
    <br>
    <div class="container">
        <div class="form-group col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Coleção de Cartazes de Filmes
                    </li>
                </ol>
            </nav>
        </div>
        <div align="right" class="form-group col-md-2">
            <a class="btn btn-success" href="/novo" role="button">Novo</a>
        </div>
        <!-- <div align="right" class="form-group col-md-2">
            <a href="#" class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModalHorizontal">Novo</a>
        </div> -->
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">Filtrar
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="form-group col-md-12">
                    <ol class="breadcrumb">
                        <form action="" method="POST" name="meuform">
                            <div class="form-row">
                                <div class="form-group col-md-1">
                                    <label for="pasta">Pasta</label>
                                    <input type="text" class="form-control form-control-sm" id="pasta" name="pasta"
                                        pattern="[0-9]+$">
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="pagina">Página</label>
                                    <input type="text" class="form-control form-control-sm" id="pagina" name="pagina"
                                        pattern="[0-9]+$">
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="ano">Ano</label>
                                    <input type="text" class="form-control form-control-sm" id="ano" name="ano"
                                        pattern="[0-9]+$">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="cores">Cores</label>
                                    <select id="cores" class="form-control" name="cores">
                                        <option value="todos" selected>Todos</option>
                                        <option value="preto_branco">Preto & Branco</option>
                                        <option value="cores">Cores</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-success">Buscar</button>
                            <a class="btn btn-success" href="/" role="button">Limpar</a>
                        </form>
                    </ol>
                </div>
            </div>
        </div>

        <table id="myTable" class="table table-hover table-bordered table-sm" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th scope="col" style="width: 2rem;">Ano</th>
                    <th scope="col">Titulo Original</th>
                    <th scope="col">Titulo Traduzido</th>
                    <th scope="col" style="width: 2rem;">Pasta</th>
                    <th scope="col" style="width: 2rem;">Página</th>
                    <th scope="col" style="width: 1rem;">TMDB</th>
                    <th scope="col" style="width: 1rem;">IMDB</th>
                    <th scope="col" style="width: 1rem;"></th>
                    <th scope="col" style="width: 1rem;"></th>
                </tr>
            </thead>
            <tbody>
                {% for poster in posters %}
                <tr>
                    <td align="center">{{ poster.ano }}</td>
                    <td>{{poster.titulo_original}}</td>
                    <td>{{ poster.titulo_traduzido }}</td>
                    <td align="center">
                        {{ poster.pasta if poster.pasta is not none }}
                    </td>
                    <td align="center">
                        {{ poster.pagina if poster.pagina is not none }}
                    </td>
                    <td align="center"><a href="https://www.themoviedb.org/movie/{{ poster.tmdb }}/" target="_blank"><i
                                class="glyphicon glyphicon-link"></i></a></td>
                    <td align="center"><a href="https://www.imdb.com/title/{{ poster.imdb }}/" target="_blank"><i
                                class="glyphicon glyphicon-link"></i></a></td>
                    <td align="center"><a href="/editar/{{ poster.id }}"><i
                                class="glyphicon glyphicon-pencil green"></i></a>
                    </td>
                    <td align="center"><a href="/excluir/{{ poster.id }}"><i class="glyphicon glyphicon-trash red"
                                onclick="return confirm ('Tem certeza que deseja deletar o filme \n\n {{ poster.titulo_original }} \n {{ poster.titulo_traduzido }} ?')"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <!--POPUP de Novo Cadastro-->
        <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Novo Cartaz</h4>
                    </div>

                    <!-- Modal Body -->
                    <form action="/popup" method="POST" class="form-horizontal" role="form">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="tmdb">TMDB:</label>
                                <div class="col-sm-2">
                                    <input style="text-align:center;" type="number" class="form-control form-control-sm"
                                        id="tmdb" name="tmdb" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="imdb">IMDB:</label>
                                <div class="col-sm-2">
                                    <input style="text-align:center;" type="text" class="form-control form-control-sm"
                                        id="imdb" name="imdb" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="data_release">Data Release:</label>
                                <div class="col-sm-2">
                                    <input style="text-align:center;" type="date" class="form-control form-control-sm"
                                        id="data_release" name="data_release" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="pasta">Pasta:</label>
                                <div class="col-sm-2">
                                    <input style="text-align:center;" type="number" class="form-control form-control-sm"
                                        id="pasta" name="pasta" pattern="[0-9]+$" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="pagina">Página:</label>
                                <div class="col-sm-2">
                                    <input style="text-align:center;" type="number" class="form-control form-control-sm"
                                        id="pagina" name="pagina" pattern="[0-9]+$" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="cores">Cores:</label>
                                <div class="col-sm-3">
                                    <select class="form-control" id="cores" name="cores">
                                        <option value="preto_branco" selected>Preto & Branco</option>
                                        <option value="cores">Cores</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="titulo_original">Título Original:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="titulo_original"
                                        name="titulo_original" oninput="this.value = this.value.toUpperCase()" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="titulo_traduzido">Título Traduzido:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="titulo_traduzido"
                                        name="titulo_traduzido" oninput="this.value = this.value.toUpperCase()"
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="link_imagem">Link Imagem:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="link_imagem"
                                        name="link_imagem">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="sinopse">Sinopse:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5" id="sinopse" name="sinopse">
                                </textarea>
                                </div>
                            </div>
                            <div class="form-group" align="center">
                                <img src="https://colorindo.org/wp-content/uploads/2022/10/desenhos-de-ponto-de-interrogacao-1.jpg"
                                    class="rounded img-thumbnail img-200-200" id="poster">
                            </div>
                        </div>

                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar
                            </button>
                            <button type="submit" class="btn btn-primary">Cadastrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--    ate aqui-->

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#myTable').DataTable({
                    "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "Todos"]], // Opções de exibição de registros por página, incluindo a opção "Todos"
                    "pageLength": 20, // Registros exibidos por padrão
                    "order": [[0, "asc"]],
                    "aoColumns": [
                        { "bSortable": true },
                        { "bSortable": true },
                        { "bSortable": true },
                        { "bSortable": true },
                        { "bSortable": true },
                        { "bSortable": false },
                        { "bSortable": false },
                        { "bSortable": false },
                        { "bSortable": false }], // Classificar por coluna 0 (Nome) em ordem ascendente
                    "language": {
                        "lengthMenu": "Exibir _MENU_ registros por página",
                        "zeroRecords": "Nenhum registro encontrado",
                        "info": "Página _PAGE_ de _PAGES_ (_TOTAL_ registros)",
                        "infoEmpty": "Nenhum registro disponível",
                        "infoFiltered": "(filtrado de _MAX_ registros no total)",
                        "search": "Pesquisar:",
                        "paginate": {
                            "first": "Primeiro",
                            "last": "Último",
                            "next": "Próximo",
                            "previous": "Anterior"
                        }
                    }
                });
            });
        </script>
    </div>
</body>

</html>